---
- hosts: wordpress
  become: yes
  vars_files:
    - vars/main.yml

  tasks:
    - name: Configure DDNS
      import_tasks: tasks/ddns.yml
      tags: ddns

    - name: Install required packages
      import_tasks: tasks/packages.yml
      tags: packages

    - name: Install and configure Docker
      import_tasks: tasks/docker.yml
      tags: docker

    - name: Prepare application files and directories
      import_tasks: tasks/prepare_app.yml
      tags: prepare

    - name: Configure SSL certificates
      import_tasks: tasks/ssl.yml
      tags: ssl

    - name: Deploy application
      import_tasks: tasks/deploy.yml
      tags: deploy
